.icon-menu {
	width: 60px;
	height: 30px;
	position: relative;
	z-index: 50;

	&::after,
	&::before,
	& span {
		width: 100%;
		height: 3px;
		background-color: #fff;
		position: absolute;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	&::after,
	&::before {
		content: "";
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	& span {
		display: block;
		top: 50%;
		transform: scaleX(1) translate(0, -50%);
	}

}

.icon-menu._active {
	&::before {
		top: 50%;
		transform: translate(0, -50%) rotate(45deg);
	}

	&::after {
		bottom: 50%;
		transform: translate(0, 50%) rotate(-45deg);
	}

	& span {
		transform: scaleX(0);
	}
}