.header {
	height: 100px;
	background-color: #363434;
	padding: 20px;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	background-color: red;
	height: 100%;
	transform: translateX(-100%);
	transition: transform ease 0.3s;
	display: flex;
	align-items: center;
	// justify-content: start;
	padding: 0 40px;

	ul {
		width: 100%;
	}

	li {
		color: white;
		margin-bottom: 30px;
		font-size: 40px;
		border: 3px dotted white;
		padding: 10px;
	}
}

.menu._active {
	transform: translateX(0);
}